@keyframes DrowerIn {
    0% {
        right: -100%;
    }
    100% {
        right: 0%;

    }
}

@keyframes DrowerOut {
    0%{
        right: 0%;
    }
    100% {
        right: -100%;

    }
}
.DrowerAnimationIn {
    animation-duration: 0.4s;
    animation-name : DrowerIn;
    animation-fill-mode: forwards;
    animation-timing-function: ease
}
.DrowerAnimationOut {
    animation-duration: 0.1s;
    animation-name : DrowerOut;
    animation-fill-mode: forwards;
    animation-timing-function: ease
}
